<% provide(:title, @football_pitch.name) %>
<div class="container">
  <h1><%= @football_pitch.name %></h1>
  <div class="col-md-4">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% @football_pitch.images.length.times do |n| %>
          <li data-target="#myCarousel" data-slide-to="<%= n %>" class="<%= (n == 0) ? "active" : ""%>"></li>
        <% end %>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @football_pitch.images.length.times do |i| %>
          <div class="<%= (i == 0) ? "item active" : "item"%>">
            <%= image_tag @football_pitch.display_image(i, [Settings.digit.size_500, Settings.digit.size_500]) %>
          </div>
        <% end %>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div>
      <h3><%= t "football_pitch.info_football_pitch" %></h3>
      <div class="location">
          <span><b><%= FootballPitch.human_attribute_name("location") %></b>: <%= @football_pitch.location %></span>
      </div>
      <div class="price">
          <span><b><%= FootballPitch.human_attribute_name("price_per_hour") %></b>: <%= @football_pitch.price_per_hour %> đ</span>
      </div>
    </div>
    <div>
      <h3><%= t "football_pitch_type.info_football_pitch_type" %></h3>
      <div class="location">
          <span><b><%= FootballPitchType.human_attribute_name("name") %></b>: <%= @football_pitch.football_pitch_type.name %></span>
      </div>
      <div class="length">
          <span><b><%= FootballPitchType.human_attribute_name("length") %></b>: <%= @football_pitch.football_pitch_type.length %> m</span>
      </div>
      <div class="width">
          <span><b><%= FootballPitchType.human_attribute_name("width") %></b>: <%= @football_pitch.football_pitch_type.width %> m</span>
      </div>
    </div>
    <% if can? :update, FootballPitch %>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editFootballPitchPriceModal">
          <%= t "button.edit" %>
        </button>
        <%= button_to "Delete", @football_pitch, method: :delete, class:"btn btn-danger", data: {confirm: t("confirm.delete_football_pitch")} %>
      </div>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editFootballPitchPriceModal" role="dialog">
 <div class="modal-dialog">
   <!-- Modal content-->
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title"><%= t "football_pitch.edit_football_pitch_price" %></h4>
     </div>
     <div class="modal-body">
       <%= form_for(@football_pitch, remote: true) do |f| %>
         <%= f.label :name, FootballPitch.human_attribute_name("price_per_hour") %>
         <%= f.text_field :price_per_hour, class: "form-control" %>
         <%= f.submit t("button.submit"), class: "btn btn-primary" %>
       <% end %>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "button.close" %></button>
     </div>
   </div>
 </div>
</div>
