<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Soccer Fields Management", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("header.home"), root_path %></li>
        <li><%= link_to FootballPitch.model_name.human, football_pitches_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "header.account" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("header.profile"), current_user %></li>
              <li><%= link_to t("header.settings"), "#" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("header.logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("header.sign_up"), signup_path %></li>
          <li><%= link_to t("header.log_in"), login_path %></li>
        <% end %>
        <li><%= link_to t("header.english"), request.params.merge( locale: :en ) %></li>
        <li><%= link_to t("header.vietnamese"), request.params.merge( locale: :vi ) %></li>
      </ul>
    </nav>
  </div>
</header>
